<div class="modal-header">
	<h3 class="modal-title">Type system name:</h3>
	<input type="text" placeholder="System name" name="systemName"
		ng-model="systemName" ng-change="typed()" />
</div>
<div class="modal-body">
	<button ng-repeat="system in searchResult" type="button"
		class="btn btn-default" ng-click="selected.item = system">{{system.name}}</button>
	<!--ul class="list-inline">
                <li ng-repeat="system in searchResult">
					
                    
                </li>
            </ul-->
	<p>
		Selected: <b>{{ selected.item.name }}</b>
	</p>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>