<!DOCTYPE html>
<html ng-app="AurigaBase">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script-->
<!-- script src="bower_components/bootstrap/js/dropdown.js"></script-->
<script src="js/app.js"></script>
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap_custom.css"> -->
</head>
  <body style="padding-top:70px" ng-controller="SystemSearchCtrl">
	<nav class="navbar navbar-default navbar-fixed-top">
	  	<div class="container-fluid">
			
			<table ng-model="input">
				<tr>
					
	
					<td>
						<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Type system name:</h3>
			<input type="text" placeholder="System name" name="systemName" ng-model="systemName" ng-change="typed()" />
        </div>
        <div class="modal-body">
			<button ng-repeat="system in searchResult" type="button" class="btn btn-default" ng-click="selected.item = system">{{system.name}}</button>
            <!--ul class="list-inline">
                <li ng-repeat="system in searchResult">
					
                    
                </li>
            </ul-->
            <p>Selected: <b>{{ selected.item.name }}</b></p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    				</script>
					<span>Current System:</span>
					<button class="btn btn-default" ng-click="open()">{{selected.name}}</button>
					<span>Radius:</span>
					<button class="btn btn-default" ng-click="radiusSub()">-</button>
					<input type="number" ng-model="radius" min="5" max="100">
					<button class="btn btn-default" ng-click="radiusAdd()">+</button>
					</td>
					<td>
						<div class="btn-group" dropdown is-open="status.isopen">
							<button type="button" class="btn btn-primary dropdown-toggle"
								dropdown-toggle ng-disabled="disabled">
								Filter <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Explored</a></li>
								<li><a href="#">Has Station</a></li>
								<li><a href="#">Has black market</a></li>
								<li><a href="#">Already visited</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</nav>
	<div class="container-fluid">
		<div ng-repeat="system in searchResult" class="panel panel-default">
			<div class="panel-heading">{{system.name}} - {{system.distance}} ({{system.x}}|{{system.y}}|{{system.z}})</div>
			<div class="panel-body">Panel content</div>
		</div>
	</div>
</body>
</html>