<div ng-controller="NavigationCtrl">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<a class="navbar-brand" href="">AB</a>
			<ul class="nav navbar-nav">
		        <li><a href="#systemSearch" ng-model="currentSystem"><b>{{currentSystem.name}}</b></a></li>
		    </ul>
	     </div>
	</nav>
	<div class="container-fluid">
		<div ng-repeat="system in searchResult" class="panel panel-default">
			<div class="panel-heading">{{system.name}} - {{system.distance}} ({{system.x}}|{{system.y}}|{{system.z}})</div>
			<div class="panel-body">Panel content</div>
		</div>
	</div>
</div>