<div ng-controller='SystemSearchCtrl'>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<a class="navbar-brand" href="#">AB</a>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" ng-change="typed()" ng-model="systemName" autofocus>
				</div>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href='' ng-click="cancel()">X</a></li>
			</ul>
	</nav>
	<div class="container-fluid">
		<button ng-repeat="system in searchResult" type="button" class="btn btn-default" ng-click="selected(system)">{{system.name}}</button>
	</div>
</div>